body{
    background-color:#262626;
    font-family:helvetica;
  }
  div.header-img{
    width:100%;
    background-color:#1a1a1a;
    overflow:hidden;
    position:fixed;
    height: 139px;
  }
  #header-img{
    width:350px;
    filter:invert(100%);
    margin:auto;
    display:block;
  }